// all
$nav-sub-text: #D4D4D4;
$border-gray: #DEDEDE;
$main-blue: #44B1DE;
$main-green: #68DBAA;
$gray-background: #F4F4F4;
$hr-gray: #DEDEDE;
$hr-white: #FFFFFF;
$black: black;

// support page
$support-header-border: #707070;

// products page
$product-guide-label: #525252;
$product-guide-border: #DEDEDE;
$product-button-border: #707070;
