@import "../../vars.scss";

.Benefits {
  background: #F5F5F5;
  @media(max-width: 1040px) {
    padding: 40px;
  }
  @media(max-width: 755px) {
    margin-top: 0px;
  }
  .body-wrapper {
    padding: 20px;
    .tiles {
      max-width: 1432px;
      margin: auto;
      @media(max-width: 799px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }
    .t-shirts {
      padding: 20px;
      div {
        width: calc(50% - 10px);
        img {
          width: 100%;
        }
      }
    }
  }
}
