@import '../../vars.scss';

.Mockup {
  background: #E6E7E8;
  width: 326px;
  min-width: 326px;
  height: 450px;
  overflow: hidden;
  .views {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
    .view {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 326px;
      height: 398px;
    }
  }
}
