@import "../../../vars.scss";

#ActionCopy {
  width: 645px;
  margin: auto;
  text-align: center;
  @media(max-width: 800px) {
    width: 100%;
    padding: 0px 40px;
  }
  h1 {
    margin-bottom: 20px;
  }
  p.fs-30 {
    line-height: 38px;
    margin-bottom: 80px;
  }
}
