@import "../../../vars.scss";

.ActionCopy {
  width: 610px;
  margin: auto;
  text-align: center;
  // @media(max-width: 800px) {
  //   width: 100%;
  //   padding: 0px 40px;
  // }
  h1 {
    margin-bottom: 20px;
    font-size: 33px;
    color: black;
    font-weight: bold;
  }
  p {
    line-height: 33px;
    margin-bottom: 80px;
    font-size: 24px;
    color: black;
  }
}
