@import "../../vars.scss";

.SeparatorLine {
  border-bottom: solid 1px $black;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  .black-circle {
    width: 15px;
    height: 15px;
    position: absolute;
    background: $black;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
