@import '../../vars.scss';

.ShopNav {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  div {
    padding: 15px 0px;
    font-size: 20px;
    color: $lightblue;
    border-bottom: solid 1px $lightgray;
    width: 200px;
    display: flex;
    justify-content: space-between;
    img {
      width: 20px;
      height: 20px;
    }
    &:nth-child(6) {
      border: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}