@import "../../../vars.scss";

.SearchResult {
  height: 50px;
  width: 275px;
  span {
    height: 100%;
    margin-bottom: -14px;
    img {
      height: 100%;
      margin-right: 18px;
    }
  }
  &:hover {
    h1 {
      color: $blue;
    }
  }
}
