@import "../../vars.scss";

#Support {
  #support-header {
    font-size: 40px;
    color: $main-blue;
    font-weight: bold;
    margin-bottom: 60px;
    border-bottom: solid 1px $border-dark-gray;
    padding-bottom: 20px;
    margin-top: 60px;
  }
  #bottom-space {
    height: 100px;
  }
}
