@import "../../vars.scss";

section#Footer {
  background: $blue;
  .wrapper {
    height: 120px;
    max-width: 1200px;
    padding: 36px 20px;
    margin: auto;
    @media(max-width: 1200px) {
      width: 100%;
      padding: 40px;
    }
    #footer-logo {
      height: 100%;
      img {
        height: 100%;
      }
    }
    p.fs-25 {
      line-height: 20px;
      @media(max-width: 755px) {
        margin-left: 20px;
        font-size: 16px;
      }
    }
  }
}
