@import '../../vars.scss';

.Submit {
  max-width: 1145px;
  margin: auto;
  margin-bottom: 300px;
  display: flex;
  justify-content: space-between;
  .left-side {
    width: 50%;
    h1 {
      font-size: 22px;
      color: $lightblue;
      font-weight: bold;
    }
    .project-name {
      border: none;
      border-bottom: solid 1px $lightblue;
      padding: 10px 0px;
      width: 100%;
      margin: 20px 0px;
      font-size: 40px;
      color: $darkgray;
      font-weight: bold;
      &::placeholder {
        color: $darkgray;
        font-weight: bold;
        font-size: 40px;
      }
      &:focus {
        outline: none;
      }
    }
    h4 {
      color: $darkgray;
      font-weight: bold;
      font-size: 13px;
      padding: 10px 0px;
    }
    h5 {
      color: $gray;
      font-size: 11px;
    }
    .files {
      padding: 10px 0px;
      margin-bottom: 30px;
      h5 {
        font-weight: normal;
        color: $darkgray;
      }
    }
    button {
      border: none;
      background: $lightblue;
      color: white;
      width: 110px;
      text-align: center;
      padding: 7px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .input-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      input {
        width: calc(50% - 20px);
        border: none;
        border-bottom: solid 1px $lightgray;
        padding: 7px 0px;
        margin: 15px 0px;
        color: $darkgray;
        &::placeholder {
          color: $gray;
          font-size: 11px;
        }
        &:focus {
          outline: none;
        }
      }
      .shared-inputs {
        display: flex;
        justify-content: space-between;
        width: calc(50% - 20px);
        &:nth-child(1) {
          width: calc(60% - 10px);
        }
        &:nth-child(2) {
          width: calc(40% - 10px);
        }
      }
    }
    .checkbox-section {
      display: flex;
      align-items: center;
      font-size: 11px;
      color: $gray;
      margin: 15px 0px;
      img {
        width: 20px;
        margin-right: 10px;
      }
    }
    textarea {
      width: 100%;
      padding: 10px;
      resize: none;
      color: $darkgray;
      margin: 15px 0px;
      border: solid 1px $lightgray;
      box-sizing: border-box;
      min-height: 130px;
      &::placeholder {
        color: $gray;
        font-size: 11px;
      }
      &:focus {
        outline: none;
      }
    }
    .details {
      margin: 15px 0px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      h4 {
        width: 50%;
      }
      h5 {
        width: 50%;
      }
    }
    .submit-form {
      font-size: 22px;
      color: $lightblue;
      font-weight: bold;
      margin: 15px 0px 30px;
    }
    .explain-text {
      margin: 6px 0px;
    }
  }
  .right-side {
    margin-left: 138px;
    width: 50%;
    .your-order {
      font-size: 22px;
      color: $darkgray;
      margin: 30px 0px;
      font-weight: bold;
    }
    .Summary {
      margin-left: -51px;
    }
  }
}