@import "../../vars.scss";

.Order {
  min-height: calc(100vh - 290px);
  max-width: $max-width;
  margin: auto;
  padding: 0px 40px;
  @media(max-width: 1400px) {
    width: 800px;
    margin-bottom: 60px;
  }
  @media(max-width: 800px) {
    width: 100%;
  }
  @media(max-width: 650px) {
    padding: 0px;
  }
  .h1-fs-30  {
    margin-bottom: 12px;
    @media(max-width: 650px) {
      padding: 0px 40px;
      font-size: 20px;
    }
  }
  .left {
    width: 58%;
    margin-right: 30px;
    @media(max-width: 1400px) {
      width: 100%;
      margin: auto;
    }
    .swipe-guide {
      padding: 10px;
      h1 {
        padding: 0px 5px;
      }
      i {
        font-size: 10px;
      }
    }
    .react-swipeable-view-container > div {
      overflow: hidden !important;
    }
    input.project-name {
      border: none;
      border-bottom: solid 1px $blue;
      padding: 10px 0px;
      margin-bottom: 20px;
      @media(max-width: 650px) {
        font-size: 26px;
        width: calc(100% - 80px);
        margin: 0px 40px 20px;
      }
      &::-webkit-input-placeholder {
        font-size: 34px;
        font-weight: bold;
        color: $gray-1;
        @media(max-width: 650px) {
          font-size: 26px;
        }
      }
      &:-ms-input-placeholder {
        font-size: 34px;
        font-weight: bold;
        color: $gray-1;
        @media(max-width: 650px) {
          font-size: 26px;
        }
      }
      &::-ms-input-placeholder {
        font-size: 34px;
        font-weight: bold;
        color: $gray-1;
        @media(max-width: 650px) {
          font-size: 26px;
        }
      }
      &::placeholder {
        font-size: 34px;
        font-weight: bold;
        color: $gray-1;
        @media(max-width: 650px) {
          font-size: 26px;
        }
      }
    }
    .orders-in-cart {
      background: $gray-5;
      padding: 40px 20px;
      max-width: 720px;
      margin-bottom: 30px;
      @media(max-width: 585px) {
        padding: 20px 0px;
      }
      .order {
        margin-bottom: 15px;
        i.fa-arrow-right {
          color: $gray-5;
          margin-right: 20px;
          @media(max-width: 585px) {
            margin: 0px 10px;
          }
        }
        .sizes-card {
          -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.12);
          background: white;
          padding: 18px;
          min-width: 584px;
          position: relative;
          border-radius: 5px;
          @media(max-width: 800px) {
            min-width: initial;
            height: 170px;
          }
          @media(max-width: 585px) {
            height: 140px;
            padding: 10px;
            width: calc(100% - 93px);
          }
          .card-header {
            span {
              margin: 0px 6px;
            }
          }
          h1.fs-18.c-gray-1 {
            margin-bottom: 5px;
            @media(max-width: 585px) {
              font-size: 14px;
            }
          }
          h1.fs-18.c-gray-2 {
            margin-bottom: 5px;
            @media(max-width: 585px) {
              font-size: 14px;
            }
          }
          h1.fs-16.c-gray-1 {
            margin-bottom: 10px;
            @media(max-width: 585px) {
              font-size: 10px;
            }
          }
          .sizes-price {
            .total {
              padding: 4px 14px;
              text-align: center;
              @media(max-width: 800px) {
                border: none;
              }
              h1.fs-18 {
                @media(max-width: 585px) {
                  font-size: 12px;
                }
              }
              h1.fs-18.c-gray-1 {
                margin-bottom: 7px;
              }
            }
            .price {
              position: absolute;
              right: 0;
              width: 100%;
              max-width: 166px;
              top: 0;
              height: 100%;
              background: $blue;
              padding: 18px 30px;
              border-radius: 5px;
              -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
              box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
              h1 {
                margin-bottom: 12px;
              }
            }
          }
          .price-mobile {
            background: $blue;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            .section {
              padding: 10px;
              h1 {
                margin: 0px 5px;
                @media(max-width: 585px) {
                  font-size: 13px;
                }
              }
            }
          }
        }
        .card-actions {
          width: 40px;
          margin-left: 20px;
          @media(max-width: 585px) {
            margin: 0px 10px;
          }
          .action-icon {
            img {
              height: 32px;
              cursor: pointer;
              @media(max-width: 585px) {
                height: 24px;
              }
            }
            h1 {
              margin: 6px 10px 10px;
              @media(max-width: 585px) {
                font-size: 8px;
              }
            }
          }
        }
        &:hover {
          i.fa-arrow-right {
            color: white;
          }
        }
      }
    }
    .uploaded-files {
      margin-bottom: 30px;
      max-width: 715px;
      h1.fs-17 {
        margin-bottom: 8px;
      }
      h1.fs-14 {
        margin-bottom: 15px;
      }
      button.fs-17 {
        border: none;
        background: $blue;
        padding: 6px 20px;
      }
      ul {
        margin-bottom: 80px;
      }
      #uploadButton {
        display: none;
      }
    }
  }
  .right {
    width: 42%;
  }
  .mockup {
    position: relative;
    overflow: hidden;
    .side-buttons-left {
      position: absolute;
      top: 0;
      left: 0;
      span {
        cursor: pointer;
        width: 110px;
        padding: 20px 20px 0px;
        @media(max-width: 650px) {
          width: 90px;
        }
      }
    }
    .mockup-img {
      max-width: 310px;
      img {
        width: 100%;
      }
    }
  }
  .bottom-section {
    margin-bottom: 100px;
    @media(max-width: 1400px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    @media(max-width: 650px) {
      padding: 0px 40px;
      margin-bottom: 0px;
    }
    @media(max-width: 400px) {
      padding: 0px 20px;
    }
    .order-form {
      margin-bottom: 20px;
      width: calc(50% - 15px);
      @media(max-width: 1400px) {
        width: 100%;
      }
      h1.fs-24 {
        margin-bottom: 30px;
        @media(max-width: 650px) {
          text-align: center;
        }
      }
      .form {
        input {
          width: calc(50% - 20px);
          border: none;
          border-bottom: solid 1px $gray-3;
          background: none;
          margin-bottom: 40px;
          padding: 8px 2px;
          font-size: 18px;
          color: $gray-3;
          @media(max-width: 650px) {
            width: 100%;
          }
          &::-webkit-input-placeholder {
            color: $gray-3;
          }
          &:-ms-input-placeholder {
            color: $gray-3;
          }
          &::-ms-input-placeholder {
            color: $gray-3;
          }
          &::placeholder {
            color: $gray-3;
          }
        }
        .mult-input {
          width: 100%;
          input:nth-child(1) {
            width: calc(70% - 10px);
          }
          input:nth-child(2) {
            width: calc(30% - 10px);
          }
        }
      }
    }
    .order-details {
      width: calc(50% - 15px);
      @media(max-width: 1400px) {
        width: 100%;
      }
      h1.fs-24 {
        margin-bottom: 40px;
        @media(max-width: 650px) {
          font-size: 24px;
          text-align: center;
          margin-bottom: 20px;
        }
      }
      .gray-background {
        background: $gray-5;
        position: absolute;
        width: 100%;
        height: 538px;
        left: 0;
        bottom: 0;
        z-index: -1;
      }
      .total-price-box {
        padding: 25px;
        background: white;
        border: solid 4px $blue;
        border-radius: 5px;
        -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
        margin-bottom: 28px;
        @media(max-width: 650px) {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border: none;
          padding: 10px;
        }
        .total-price {
          padding: 0px 20px;
          @media(max-width: 650px) {
            padding: 10px 20px;
          }
          h1.fs-20 {
            margin: 10px 0px;
          }
          h1.fs-56 {
            margin-bottom: 10px;
            @media(max-width: 650px) {
              border-bottom: solid 1px $gray-5;
            }
            p.fs-16 {
              margin-left: 8px;
              margin-top: 30px;
            }
          }
        }
        .total-price-buttons {
          padding-left: 30px;
        }
        .checkbox {
          width: 200px;
        }
      }
      .total-price-buttons, .total-price-buttons-mobile {
        border-left: solid 1px $gray-5;
        button {
          cursor: pointer;
          border: solid 2px $blue;
          border-radius: 5px;
          padding: 10px;
          height: 58px;
          width: 204px;
          white-space: nowrap;
          @media(max-width: 650px) {
            height: 40px;
            padding: 5px 10px;
            width: 150px;
          }
          img {
            height: 100%;
            width: 58px;
          }
        }
        button.fs-28 {
          background: $blue;
          @media(max-width: 650px) {
            font-size: 17px;
          }
          img {
            margin-left: 5px;
          }
        }
        button.fs-20 {
          background: none;
          @media(max-width: 650px) {
            font-size: 12px;
          }
        }
      }
      .total-price-buttons-mobile {
        margin-bottom: 20px;
      }
      .descriptions {
        @media(max-width: 650px) {
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
        }
        .desc-section {
          width: 460px;
          margin-right: 20px;
          @media(max-width: 650px) {
            width: 150px;
            margin-right: inherit;
          }
          h1.fs-12 {
            margin-bottom: 5px;
            @media(max-width: 650px) {
              font-size: 8px;
            }
          }
          p {
            line-height: 20px;
            @media(max-width: 650px) {
              font-size: 8px;
              line-height: 12px;
            }
          }
        }
      }
      .thank-you {
        height: 300px;
        padding: 15px;
        margin: 30px 0px 70px;
        background: rgba(104, 219, 170, 0.87);
        -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.12);
        @media(max-width: 650px) {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          margin: auto;
          z-index: 100000000;
          text-align: center;
          width: 100vw;
          height: 100vh;
        }
        h1.fs-30 {
          margin: 30px 0px;
        }
        .thumbs-up {
          width: 100px;
        }
        .close {
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          height: 30px;
          margin: 15px;
        }
      }
    }
  }
  .checkbox {
    position: relative;
    width: 160px;
    margin-bottom: 15px;
    label {
      position: relative;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ span {
          background: $blue;
        }
        &:checked ~ span:after {
          display: block;
        }
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        height: 17px;
        width: 17px;
        border: solid 2px $blue;
        &:after {
          content: "";
          position: absolute;
          display: none;
        }
      }
    }
    label span:after {
      left: 5px;
      top: 0px;
      width: 3px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .SizingForm {
    @media(max-width: 585px) {
      width: calc(100% - 71px);
    }
  }
  .product-builder-positioner {
    position: relative;
    max-width: 1320px;
    margin: auto;
    @media(max-width: 1200px) {
      margin: auto;
    }
    .ProductBuilder {
      z-index: 3;
    }
    .gray-overlay {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(230, 230, 230, 0.8);
      @media(max-width: 1200px) {
        z-index: 1;
      }
    }
  }
}
