@import '../../vars.scss';

.Nav {
  max-width: 1145px;
  margin: auto;
  .nav-container-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    .logo {
      height: 26px;
    }
    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      font-size: 13px;
      width: 42%;
      a {
        text-decoration: none;
        color: $lightgray;
        font-weight: bold;
      }
      .search {
        display: flex;
        align-items: center;
        position: relative;
        .search-button {
          height: 18px;
          margin-right: 10px;
          color: $darkgray;
          &:hover {
            cursor: pointer;
          }
        }
        .search-bar {
          border: none;
          border-bottom: solid 1px $lightgray;
          padding: 5px 0px;
          width: 0px;
          transition: width 0.5s ease;
          &:focus {
            outline: none;
          }
        }
      }
      .quote-icon {
        height: 26px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}