@import "../../vars.scss";

.Nav {
  padding: 88px 20px 70px;
  max-width: 1200px;
  margin: auto;
  .logo {
    height: 34px;
  }
  a {
    color: $black;
    text-decoration: none;
    font-weight: bold;
  }
  .routes {
    margin-right: 30px;
    a {
      margin-right: 80px;
      font-size: 20px;
    }
  }
  .fa-search {
    margin-right: 110px;
    cursor: pointer;
    font-size: 24px;
    color: $black;
  }
  .cart {
    position: relative;
    img {
      height: 40px;
    }
    span {
      position: absolute;
      top: 2px;
      right: 5px;
      color: white;
      font-size: 11px;
    }
  }
}
