@import '../../vars.scss';

.PrintArea, .PrintAreaHover {
  width: 200px;
  height: 272px;
  position: relative;
  .react-draggable {
    border: solid 1px transparent;
    position: absolute;
    z-index: 1;
    img {
      width: 100%;
      height: auto;
    }
    .resizer {
      width: 8px;
      height: 8px;
      background: $lightgray;
      border: solid 1px $darkgray;
      position: absolute;
      right: -2px;
      bottom: -2px;
      display: none;
      cursor: nwse-resize;
    }
  }
  .title {
    position: absolute;
    display: none;
    top: -14px;
    font-size: 11px;
    left: 0;
    color: $gray;
  }
  .guides {
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    .guide-box {
      width: 50%;
      height: 50%;
      &:nth-child(1) {
        border-right: dashed 1px $gray;
        border-bottom: dashed 1px $gray;
      }
      &:nth-child(2) {
        border-left: dashed 1px $gray;
        border-bottom: dashed 1px $gray;
      }
      &:nth-child(3) {
        border-right: dashed 1px $gray;
        border-top: dashed 1px $gray;
      }
      &:nth-child(4) {
        border-top: dashed 1px $gray;
        border-left: dashed 1px $gray;
      }
    }
  }
}

.PrintAreaHover {
  .react-draggable {
    cursor: move;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.40);
    .guides {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .title {
      display: block;
    }
    .react-draggable {
      border: dashed 1px $gray;
      .resizer {
        display: block;
      }
    }
  }
}
