@import '../../vars.scss';

.Shop {
  max-width: 1145px;
  margin: auto;
  margin-bottom: 300px;
  .header {
    color: $darkgray;
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
  }
  .products-container {
    position: relative;
    .products {
      margin: auto;
      width: 654px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}