@import "../../../../vars.scss";

.Section3 {
  background: $blue;
  padding: 70px 0px;
  margin-bottom: 2300px;
  @media(max-width: 1400px) {
    margin-bottom: 2800px;
  }
  @media(max-width: 1364px) {
    margin-bottom: 3000px;
  }
  @media(max-width: 980px) {
    margin-bottom: 3200px;
  }
  @media(max-width: 799px) {
    margin-bottom: 5000px;
  }
  @media(max-width: 755px) {
    margin-bottom: 0px;
  }
  .body-wrapper {
    padding: 20px;
    @media(max-width: 980px) {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0px 40px;
    }
    img {
      height: 540px;
      @media(max-width: 1200px) {
        height: 400px;
      }
    }
    .copy {
      width: 600px;
      margin-left: 40px;
      h1.fs-60 {
        text-align: center;
        @media(max-width: 700px) {
          font-size: 38px;
        }
      }
      p.fs-31 {
        line-height: 40px;
        margin: 30px 0px;
        @media(max-width: 700px) {
          font-size: 24px;
        }
      }
      a.fs-51 {
        text-decoration: none;
        @media(max-width: 700px) {
          font-size: 32px;
        }
        i {
          margin-left: 30px;
        }
      }
    }
  }
}
