@import "../../../../../vars.scss";

.StepTile {
  width: calc(33% - 5px);
  background: $blue;
  padding: 5px;
  text-align: center;
  -webkit-box-shadow: 10px 12px 6px rgba(0,0,0,0.16);
          box-shadow: 10px 12px 6px rgba(0,0,0,0.16);
  img {
    height: 94px;
    margin: 20px auto;
  }
  h1.fs-10 {
    padding: 10px;
  }
  &:nth-child(1) {
    h1.fs-10 {
      border-radius: 3px;
      border: solid 2px white;
    }
  }
}
