@import "../../vars.scss";

#Actions {
  margin-top: 50px;
  margin-bottom: 160px;
  @media(max-width: 800px) {
    margin-bottom: 0px;
  }
  .body-wrapper {
    padding: 40px;
    @media(max-width: 700px) {
      padding: 10px 40px;
    }
    div.tiles {
      @media(max-width: 1270px) {
        width: 100%;
        padding: 40px;
      }
      @media(max-width: 775px) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      @media(max-width: 700px) {
        padding: 10px 40px;
      }
    }
  }
}
