@import "../../vars.scss";

#Products {
  position: relative;
  width: 100%;
  #products-page-wrapper {
    #products-body-wrapper {
      margin-left: 50px;
      #products-options {
        margin-bottom: 30px;
        #qty-input {
          margin-right: 30px;
          label {
            font-size: 19px;
            color: #A0A0A0;
            margin-right: 10px;
          }
          input[type="text"] {
            width: 80px;
            font-size: 27px;
            border: none;
            border-bottom: solid 1px #DEDEDE;
            color: black;
            text-align: center;
            font-weight: bold;
          }
        }
        .ColorUpdater {
          margin: 0px 30px;
        }
        #sort-by {
          cursor: pointer;
          position: absolute;
          right: 0;
          padding: 10px 15px;
          background: $main-blue;
          border-radius: 10px;
          img {
            height: 15px;
            margin-right: 10px;
          }
          h1 {
            font-size: 13px;
            color: white;
            white-space: nowrap;
          }
          #sort-box {
            position: absolute;
            padding: 8px 12px;
            right: 0;
            width: 100%;
            bottom: -107px;
            background: white;
            border-radius: 10px;
            z-index: 1;
            border: solid 1px $main-blue;
            -webkit-box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.16);
            box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.16);
            span {
              margin: 3px 0px;
              font-size: 14px;
              color: $main-blue;
              cursor: pointer;
              white-space: nowrap;
            }
          }
        }
      }
      #products-wrapper {
        margin-bottom: 100px;
      }
    }
  }
}
