@import '../../vars.scss';

.Draggable {
  position: absolute;
  max-width: 100%;
  z-index: 1;
  border: solid 1px transparent;
  img {
    width: 100%;
    cursor: move;
  }
  .resizer {
    display: none;
    width: 6px;
    height: 6px;
    background: $lightgray;
    position: absolute;
    right: -3px;
    bottom: -3px;
    border: solid 1px $gray;
    &:hover {
      cursor: nwse-resize;
    }
  }
}
