@import '../../vars.scss';

.HomeBox {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.12);
  padding: 113px;
  position: relative;
  width: 757px;
  height: 757px;
  margin-top: 76px;
  margin-bottom: 300px;
  .links {
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    right: 76px;
    top: 113px;
    position: absolute;
    .link {
      margin-bottom: 30px;
      color: $darkgray;
      display: flex;
      justify-content: flex-end;
      height: 20px;
      h1 {
        font-size: 20px;
      }
      img {
        width: 11px;
        margin-left: 11px;
      }
      &:hover {
        cursor: pointer;
        color: $lightblue;
      }
    }
  }
}