@import '../../vars.scss';

.OurReviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  h1 {
    color: $darkgray;
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  .pencil {
    height: 60px;
    margin-bottom: 100px;
  }
  .review {
    width: 533px;
    margin-bottom: 160px;
    h2 {
      margin-bottom: 10px;
      font-size: 20px;
      color: $darkgray;
    }
    img {
      height: 20px;
      margin-bottom: 10px;
    }
    p {
      color: black;
      font-size: 14px;
      line-height: 22px;
    }
  }
}