@import '../../vars.scss';

.Home {
  max-width: 1145px;
  margin: auto;
  .contact-header {
    color: $darkgray;
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
  }
}