@import '../../vars.scss';

.Home {
  .contact-header {
    color: $darkgray;
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
  }
  .react-parallax {
    position: initial !important;
    .react-parallax-content {
      max-width: 1145px;
      margin: auto;
    }
    .react-parallax-background-children {
      width: 100%;
      .react-parallax-background {
        text-align: center;
        img {
          width: 90%;
          max-width: 1400px;
          margin-top: 50px;
        }
      }
    }
  }
}