@import "../../vars.scss";

.SizeForm {
  height: 128px;
  .img-wrapper {
    height: 91px;
    margin: 0px 10px;
    img {
      height: 22px;
      cursor: pointer;
    }
  }
  .circle-display {
    margin: 0px 10px;
    position: relative;
    label {
      color: $product-guide-label;
      position: absolute;
      font-size: 22px;
      top: -28px;
    }
    input[type="text"], .circle-quantity {
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      width: 75px;
      height: 75px;
      text-align: center;
      border: none;
      background: white;
      font-size: 29px;
    }
    .circle-quantity {
      color: $main-blue;
    }
  }
  .total-circle {
    label {
      color: $main-blue;
    }
  }
  .form-wrapper {
    max-width: 388px;
    overflow: hidden;
    padding: 8px 0px;
    height: 100%;
  }
  #move-frame {
    height: 100%;
    -webkit-transition: margin-left 0.4s ease;
    transition: margin-left 0.4s ease;
  }
}
