@import "../../vars.scss";

.SizeForm {
  .form-content-wrapper {
    height: 100%;
  }
  .img-wrapper {
    margin: 0px 10px;
    min-width: 12px;
    img {
      cursor: pointer;
    }
  }
  .circle-display {
    position: relative;
    label {
      position: absolute;
      color: #525252;
    }
    h1, input[type="text"], .circle-quantity {
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      text-align: center;
      border: none;
      background: white;
    }
    h1 {
      color: #525252;
    }
    input[type="text"] {
      padding: 0px;
    }
    .circle-quantity {
      color: $main-blue;
    }
  }
  .total-circle {
    label {
      color: $main-blue;
    }
  }
  .form-wrapper {
    overflow: hidden;
    height: 100%;
    padding: 8px 0px;
  }
  .form-wrapper.total-form-wrapper {

  }
  #move-frame {
    height: 100%;
    -webkit-transition: margin-left 0.4s ease;
    transition: margin-left 0.4s ease;
  }
}

.SizeForm.large {
  height: 128px;
  .img-wrapper {
    height: 91px;
    img {
      height: 22px;
    }
  }
  .circle-display {
    margin: 0px 8px;
    label {
      font-size: 22px;
      top: -28px;
    }
    h1 {
      width: 77px;
      height: 77px;
      font-size: 29px;
      padding: 25px;
    }
    input[type="text"], .circle-quantity {
      width: 75px;
      height: 75px;
      font-size: 29px;
    }
  }
}

.SizeForm.medium {
  height: 77px;
  .img-wrapper {
    height: 61px;
    img {
      height: 22px;
    }
  }
  .circle-display {
    margin: 0px 5px;
    label {
      font-size: 12px;
      top: -14px;
    }
    h1 {
      width: 45px;
      height: 45px;
      font-size: 16px;
      padding: 15px;
    }
    input[type="text"], .circle-quantity {
      width: 43px;
      height: 43px;
      font-size: 16px;
    }
  }
}

.SizeForm.small {
  height: 62px;
  .img-wrapper {
    height: 49px;
    img {
      height: 16px;
    }
  }
  .circle-display {
    margin: 0px 5px;
    label {
      font-size: 9px;
      top: -14px;
    }
    h1 {
      width: 32px;
      height: 32px;
      font-size: 12px;
      padding: 10px;
    }
    input[type="text"], .circle-quantity {
      width: 30px;
      height: 30px;
      font-size: 12px;
    }
  }
}
