@import "../../vars.scss";

.SizeForm.large {
  height: 128px;
  .img-wrapper {
    height: 91px;
    margin: 0px 10px;
    img {
      height: 22px;
      cursor: pointer;
    }
  }
  .circle-display {
    margin: 0px 10px;
    position: relative;
    label {
      color: #525252;
      position: absolute;
      font-size: 22px;
      top: -28px;
    }
    h1 {
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      width: 77px;
      height: 77px;
      text-align: center;
      border: none;
      background: white;
      font-size: 29px;
      padding: 25px;
      color: #525252;
    }
    input[type="text"], .circle-quantity {
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      width: 75px;
      height: 75px;
      text-align: center;
      border: none;
      background: white;
      font-size: 29px;
      padding: 0px;
    }
    .circle-quantity {
      color: $main-blue;
    }
  }
  .total-circle {
    label {
      color: $main-blue;
    }
  }
  .form-wrapper {
    max-width: 388px;
    overflow: hidden;
    padding: 8px 0px;
    height: 100%;
  }
  #move-frame {
    height: 100%;
    -webkit-transition: margin-left 0.4s ease;
    transition: margin-left 0.4s ease;
  }
}

.SizeForm.medium {
  height: 77px;
  .img-wrapper {
    height: 61px;
    margin: 0px 10px;
    img {
      height: 22px;
      cursor: pointer;
    }
  }
  .circle-display {
    margin: 0px 5px;
    position: relative;
    label {
      color: #525252;
      position: absolute;
      font-size: 12px;
      top: -14px;
    }
    h1 {
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      width: 45px;
      height: 45px;
      text-align: center;
      border: none;
      background: white;
      font-size: 16px;
      padding: 15px;
      color: #525252;
    }
    input[type="text"], .circle-quantity {
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      width: 43px;
      height: 43px;
      text-align: center;
      border: none;
      background: white;
      font-size: 16px;
    }
    .circle-quantity {
      color: $main-blue;
    }
  }
  .total-circle {
    label {
      color: $main-blue;
    }
  }
  .form-wrapper {
    overflow: hidden;
    padding: 8px 0px;
    height: 100%;
  }
  #move-frame {
    height: 100%;
    -webkit-transition: margin-left 0.4s ease;
    transition: margin-left 0.4s ease;
  }
}
