@import "../../vars.scss";

#About {
  .img-wrapper {
    text-align: center;
  }
  .copy-wrapper {
    margin-bottom: 170px;
    div {
      &:nth-child(2) {
        width: 700px;
      }
    }
  }
  h1 {
    font-size: 60px;
    color: black;
    margin-bottom: 50px;
  }
  h2 {
    border-top: solid 1px #58595B;
    width: 200px;
    padding: 16px 0px;
    font-size: 28px;
    color: black;
  }
  p {
    color: #58595B;
    font-size: 22px;
    line-height: 32px;
  }
}
