@import "../../vars.scss";

#About {
  #about-wrapper {
    .img-wrapper {
      text-align: center;
      width: 100%;
      img {
        width: 100%;
        max-width: 1184px;
        @media(max-width: 530px) {
          margin-left: -50px;
          width: calc(100% + 100px);
        }
      }
    }
    .copy-wrapper {
      margin-bottom: 170px;
      margin-top: 40px;
      @media(max-width: 1030px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0px;
      }
      .about-us {
        @media(max-width: 1030px) {
          opacity: 0;
        }
      }
      .about-us-copy {
        width: 700px;
        @media(max-width: 1030px) {
          width: 100%;
        }
      }
    }
    h1 {
      font-size: 60px;
      color: black;
      margin-bottom: 50px;
      line-height: 70px;
      @media(max-width: 690px) {
        font-size: 40px;
        margin-bottom: 35px;
        line-height: initial;
      }
      @media(max-width: 530px) {
        font-size: 30px;
        margin-bottom: 25px;
      }
    }
    h2 {
      border-top: solid 1px #58595B;
      width: 200px;
      padding: 16px 0px;
      font-size: 28px;
      color: black;
      @media(max-width: 530px) {
        font-size: 10px;
        padding: 0px;
      }
    }
    p {
      color: #58595B;
      font-size: 22px;
      line-height: 32px;
      @media(max-width: 690px) {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}
