@import "../../vars.scss";

.Home {
  .react-parallax-background-children {
    width: 100%;
  }
  .social-home {
    width: 150px;
    margin: auto;
    margin-bottom: 50px;
    a {
      img.social {
        height: 60px;
      }
    }
  }
}
