@import "../../vars.scss";

#Home {
  #banner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @media(max-width: 600px) {
      top: 82px;
    }
    #banners-wrapper, #banners-wrapper-mobile {
      position: relative;
      width: 100%;
      overflow: hidden;
      z-index: 1;
    }
    #banners-wrapper-mobile {
      @media(max-width: 1240px) {
        div {
          &:nth-child(2) {
            z-index: 5;
          }
        }
      }
    }
    #extra-buttons-wrapper {
      position: absolute;
      width: 100%;
      height: 100vh;
    }
    #scroll-down {
      position: absolute;
      width: 54px;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 150px;
    }
    .social-side {
      position: absolute;
      top: -160px;
      bottom: 0;
      left: 40px;
      margin: auto;
      z-index: 1;
      img {
        height: 24px;
        margin-bottom: 20px;
      }
    }
    @media(max-width: 1240px) {
      .blue-background {
        background: #628CA1;
        z-index: 1;
      }
      .light-blue-background {
        background: #66B7D9;
        z-index: 2;
      }
      .pink-background {
        background: #EB9896;
        z-index: 3;
      }
      .yellow-background {
        background: #EDD86B;
        z-index: 4;
      }
      .vertical-banner {
        a {
          border: solid 2 white;
        }
      }
    }
    .vertical-banner {
      width: 25%;
      height: 100vh;
      position: relative;
      -webkit-transition: margin-right 0.5s ease;
      transition: margin-right 0.5s ease;
      @media(max-width: 1240px) {
        min-width: 100%;
        color: white;
        -webkit-transition: none;
        transition: none;
        div {
          &:nth-child(1) {
            position: absolute;
            z-index: 0;
            left: 40px;
            bottom: 40px;
          }
        }
      }
      @media(max-width: 600px) {
        height: calc(100vh - 116px);
      }
      #slide-image-1 {
        position: absolute;
        bottom: 0;
        left: -55px;
        z-index: -1;
        @media(max-width: 1240px) {
          left: auto;
          height: 90%;
          opacity: 0.8;
        }
      }
      #slide-image-2 {
        position: absolute;
        bottom: 0;
        left: -55px;
        z-index: -1;
        @media(max-width: 1240px) {
          left: auto;
          height: 90%;
          opacity: 0.8;
        }
      }
      #slide-image-3 {
        position: absolute;
        bottom: 0;
        right: -88px;
        z-index: -1;
        @media(max-width: 1240px) {
          right: auto;
          height: 90%;
          opacity: 0.8;
        }
      }
      #slide-image-4 {
        position: absolute;
        bottom: 0;
        right: -5px;
        z-index: -1;
        @media(max-width: 1240px) {
          right: auto;
          height: 90%;
          opacity: 0.8;
        }
      }
      h1 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 8px;
      }
      a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 120px;
        padding: 5px 17px;
        border-radius: 50px;
        background: white;
        border: solid 2px #707070;
        margin-top: 20px;
        @media(max-width: 1240px) {
          border: solid 2px white;
        }
        img {
          width: 65px;
        }
      }
    }
    .vertical-banner.active {
      h1, h2 {
        color: white;
      }
      a {
        border: solid 2px white;
      }
    }
    @media(min-width: 1240px) {
      .blue-background.vertical-banner.active {
        background: #024c70ab;
      }
      .light-blue-background.vertical-banner.active {
        background: #0093d1b0;
      }
      .pink-background.vertical-banner.active {
        background: #f1635f96;
      }
      .yellow-background.vertical-banner.active {
        background: #f4d00d99;
      }
    }
  }
  #section-2 {
    @media(max-width: 1125px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    h1 {
      font-size: 36px;
      font-weight: bold;
    }
    div {
      width: 50%;
      @media(max-width: 1125px) {
        width: 100%;
      }
      &:nth-child(1) {
        background: #F5F5F5;
        @media(max-width: 1125px) {
          background: white;
          height: 100px;
        }
        @media(max-width: 520px) {
          h1 {
            font-size: 24px;
          }
        }
      }
    }
    video {
      width: 100%;
      cursor: pointer;
    }
    #video-play-button {
      position: absolute;
      border: none;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: rgba(255,255,255,0.92);
      -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
      box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
      i {
        font-size: 26px;
        color: $main-blue;
      }
    }
  }
  #section-3 {
    padding: 70px 0px;
    .sec-3-header-wrapper {
      width: 280px;
      margin: auto;
      margin-bottom: 50px;
      white-space: nowrap;
      text-align: center;
      h1 {
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 30px;
      }
    }
    #imgs-wrapper {
      padding: 0px 20px;
      @media(max-width: 669px) {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 355px;
        margin: auto;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
      .img-wrapper {
        border: solid 1px black;
        padding: 10px;
        background: white;
        margin: 20px;
        min-width: 275px;
        max-width: calc(25% - 80px);
        -webkit-transition: margin-right 0.5s ease;
        transition: margin-right 0.5s ease;
        &:nth-child(4) {
          @media(max-width: 1299px) {
            display: none;
          }
          @media(max-width: 984px) {
            display: block;
          }
        }
        img {
          max-width: 355px;
          width: 100%;
        }
      }
    }
  }
  #Actions {
    max-width: 1432px;
    margin: 70px auto;
    @media(max-width: 815px) {
      .ActionCopy {
        display: none;
      }
      .tiles {
        .ActionTile {
          width: 250px;
          min-height: 178px;
          .tile-asset {
            height: 60px;
          }
          .tile-title {
            font-size: 20px;
          }
          .tile-copy {
            font-size: 14px;
          }
          .tile-button {
            padding: 8px 16px;
            font-size: 14px;
          }
        }
      }
    }
    @media(max-width: 704px) {
      .tiles {
        .ActionTile {
          width: 190px;
          min-width: 190px;
          min-height: 140px;
          .tile-asset {
            height: 45px;
          }
          .tile-title {
            font-size: 14px;
          }
          .tile-copy {
            font-size: 11px;
          }
          .tile-button {
            padding: 6px 12px;
            font-size: 12px;
          }
        }
      }
    }
    @media(max-width: 580px) {
      margin: 40px auto;
      padding: 0px 20px;
    }
    @media(max-width: 500px) {
      .tiles {
        .ActionTile {
          width: 140px;
          min-width: 140px;
          min-height: 106px;
          .tile-asset {
            height: 30px;
          }
          .tile-title {
            font-size: 10px;
          }
          .tile-copy {
            font-size: 10px;
          }
          .tile-button {
            padding: 4px 8px;
            font-size: 10px;
          }
        }
      }
    }
    @media(max-width: 440px) {
      .tiles {
        .ActionTile {
          margin: 10px;
          padding: 10px;
        }
      }
    }
    @media(max-width: 404px) {
      margin: 20px auto;
      padding: 0px 20px;
    }
  }
}
