@import "../../../../vars.scss";

.Section1 {
  margin-top: 35px;
  width: 100%;
  @media(max-width: 540px) {
    margin-top: 20px;
  }
  .body-wrapper {
    padding: 0px 40px 70px;
    @media(max-width: 1150px) {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    @media(max-width: 700px) {
      padding: 0px 40px 35px;
    }
    .hover-box {
      padding: 90px 45px 90px 90px;
      -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.12);
      box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.12);
      min-width: 575px;
      @media(max-width: 700px) {
        padding: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-width: 100%;
      }
      .hover-display {
        position: relative;
        @media(max-width: 700px) {
          width: 100%;
        }
        a.fs-15 {
          position: absolute;
          top: 20px;
          right: 0;
          background: $blue;
        }
        .image-sections {
          .image-section {
            img {
              max-width: 260px;
              @media(max-width: 520px) {
                max-width: none;
              }
            }
            &:nth-child(1) {
              img {
                @media(max-width: 520px) {
                  width: 150px;
                }
                @media(max-width: 390px) {
                  width: 50%;
                }
              }
            }
            &:nth-child(n+2) {
              @media(max-width: 520px) {
                text-align: center;
              }
              img {
                @media(max-width: 390px) {
                  width: 100%;
                }
              }
            }
          }
          hr {
            border-color: $gray-4;
            border-width: 0.5px;
            margin: 30px 0px;
          }
        }
      }
      .hover-box-buttons {
        margin-left: 45px;
      }
      a.fs-15 {
        font-size: 15px;
        text-decoration: none;
        margin-bottom: 5px;
        background: none;
        border: none;
        border-radius: 4px;
        padding: 16px;
        cursor: pointer;
        @media(max-width: 520px) {
          padding: 10px;
        }
        i {
          margin-left: 4px;
        }
        &:hover {
          background: $blue;
          color: white;
        }
      }
    }
    .video-steps {
      width: 100%;
      margin-left: 40px;
      position: relative;
      .vimeo-container {
        width: 100%;
        height: 400px;
        .vimeo {
          overflow: hidden;
          padding-bottom: 56.25%;
          position: relative;
          height: 0;
          -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
                  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
          iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
          }
        }
      }
      .steps-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding-top: 61.75%;
        z-index: -1;
        .step {
          width: calc(33% - 5px);
          background: $blue;
          padding: 5px;
          text-align: center;
          -webkit-box-shadow: 10px 12px 6px rgba(0,0,0,0.16);
                  box-shadow: 10px 12px 6px rgba(0,0,0,0.16);
          img {
            height: 94px;
            margin: 20px auto;
          }
          h1.fs-10 {
            padding: 10px;
          }
          &:nth-child(1) {
            h1.fs-10 {
              border-radius: 3px;
              border: solid 2px white;
            }
          }
        }
      }
    }
  }
}
