@import "../../../../vars.scss";

.Section1 {
  margin-top: 85px;
  width: 100%;
  .body-wrapper {
    padding: 0px 40px 70px;
    @media(max-width: 970px) {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    @media(max-width: 650px) {
      padding: 0px 40px 70px;
    }
    .hover-box {
      padding: 90px 45px 45px 90px;
      -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.12);
      box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.12);
      min-width: 575px;
      @media(max-width: 650px) {
        padding: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-width: 100%;
      }
      .hover-display {
        position: relative;
        @media(max-width: 650px) {
          width: 100%;
        }
        a.fs-15 {
          position: absolute;
          top: 20px;
          right: 0;
          background: $blue;
        }
        img {
          max-width: 300px;
          @media(max-width: 520px) {
            width: 100%;
            max-width: none;
          }
        }
      }
      .hover-box-buttons {
        margin-left: 20px;
      }
      a.fs-15 {
        font-size: 15px;
        text-decoration: none;
        margin-bottom: 5px;
        background: none;
        border: none;
        border-radius: 4px;
        padding: 10px;
        cursor: pointer;
        i {
          margin-left: 4px;
        }
        &:hover {
          background: $blue;
          color: white;
        }
      }
    }
    .shirt-model {
      width: 100%;
      max-width: 500px;
      margin-left: 18px;
    }
  }
}
